
.izquierda, .derecha{
    background-color: transparent;
    height:30px;
    position:relative;
    top:-90px;
    
}

.cuevader, .cuevaizq {
    background-color: blue;
    height:230px;
    border:none;
    outline:none;
}

.izquierdapersonaje, .derechapersonaje {
    background-color: transparent;
    height:30px;
    position:relative;
    top:85px;
    outline:none;
}
.active {
    background-color: yellow; 
}
